.main {
  padding: 50px 0 100px;
  .table_wrap {
    @media screen and (max-width: 1210px) {
      overflow-x: scroll;
    }
  }
  table {
    margin: 0 auto;
    // width: 90%;
    justify-content: space-between;
    border-collapse: separate;
    border-spacing: 0 15px;
    @media screen and (max-width: 1210px) {
      width: 100%;
    }
    td,
    th {
      border: none;
      font-family: "Inter", sans-serif;
    }
    thead tr th {
      padding-bottom: 20px;
      font-weight: bold;
      background: rgba(23, 23, 26, 1);
      &:nth-child(1) {
        position: sticky;
        left: 0;
        z-index: 11;
      }
      &:nth-child(2) {
        position: sticky;
        left: 66px;
        z-index: 11;
      }
    }
    tbody {
      text-align: center;
      width: 100%;
      tr:not(:only-child):hover > td {
        background-color: #515670;
      }
      td {
        font-weight: lighter;
        padding: 20px;
        letter-spacing: 0.2px;
        transition: all 0.2s ease-in-out;
        background-color: rgba(23, 23, 26, 1);
        &:nth-child(1) {
          position: sticky;
          left: 0;
          z-index: 1111;
        }
        &:nth-child(2) {
          position: sticky;
          left: 66px;
          z-index: 1111;
        }
      }
    }
  }
}
