@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  transition: all 0.01s ease-in-out;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}
.dark {
  background: rgb(34, 37, 48);
  background: -moz-linear-gradient(
    180deg,
    rgba(34, 37, 48, 1) 0%,
    rgba(23, 23, 26, 1) 2%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(34, 37, 48, 1) 0%,
    rgba(23, 23, 26, 1) 2%
  );
  background: linear-gradient(
    180deg,
    rgba(34, 37, 48, 1) 0%,
    rgba(23, 23, 26, 1) 2%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222530",endColorstr="#17171a",GradientType=1);
  color: #fff;
}
.dark a,
.dark td,
.dark th,
.dark button {
  color: #fff;
}

.light,
.light p,
.light a,
.light span,
.light td,
.light th,
.light button,
.light .menu {
  background: #fff !important;
  color: #000 !important;
}
.light svg {
  fill: #000 !important;
}

@media screen and (max-width: 1321px) {
  .container {
    max-width: 100%;
  }
}
